body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0; /* Fondo gris claro */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #b30000;
}

.form-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.register-tab {
  width: 100%;
  max-width: 600px; /* Limitar el ancho máximo del formulario */
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h3 {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color: #333;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #b30000; /* Rojo oscuro */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #a30000; /* Rojo medio */
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.success {
  color: green;
  text-align: center;
  margin-top: 10px;
}